PORT=4000
COGNITO_ISSUER=https://cognito-idp.ap-northeast-1.amazonaws.com/ap-northeast-1_hMBZ9jYuM
SKIP_AUTH=false

DATABASE_URL=

DYNAMODB_TABLE_NAME=drawings
AWS_REGION=ap-northeast-1
AWS_ENDPOINT=

AWS_S3_ENDPOINT=https://s3.ap-northeast-1.amazonaws.com
AWS_S3_BUCKET_NAME=white-board-snapshots-dev

REDIS_URL=